[submodule "content/posts"]
	path = content/posts
	url = https://github.com/flothesof/posts.git
[submodule "pelican-clean-blog"]
	path = pelican-clean-blog
	url = https://github.com/flothesof/pelican-clean-blog.git
