[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "content/posts"]
	path = content/posts
	url = https://github.com/flothesof/posts.git

[submodule "pelican-octopress-theme"]
	path = pelican-octopress-theme
	url = https://github.com/duilio/pelican-octopress-theme.git
